.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 0;
grid-row-gap: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvascontainer {
  /*padding-bottom: 20px;
  //padding-right: 20px;
  //padding-top: 20px;
  padding-left: 20px;
  border: solid 1px red;*/
  overflow: scroll;
  /*height: 400px;
  width: 600px;*/
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  place-self: center;
  background: grey;
}

.mainCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

}

.intensityBox {
    background: white;

    color:# #eeeeee;
    font-family: Droid Sans, Arial, Helvetica, sans-serif;
    font-size: 12px;
    cursor: pointer;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: left;
    padding-left: 40px;
    place-self: left;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: darkgrey;
}



::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-corner {
  background-color: darkgrey;
}

.navbar{
    width: 300px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.maskPanel{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
